:root {
  --first-btn-color: #212121;
  --second-btn-color: #757575;
  --accent-color: #2196f3;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms, visibility 500ms;
}

.backdrop.is-hidden .modal {
  transform: scale(0.5);
}

.modal {
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms;
  padding: 40px;
}

.modal-close {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
}

.close-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover, .close-btn:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.form-field {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 40px;
  outline: none;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: var(--accent-color);
}

.form-input:focus + .input-icon {
  fill: var(--accent-color);
}

.input-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.form-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 10px;
  padding-top: 10px;
  resize: none;
  outline: none;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text:focus {
  border-color: var(--accent-color);
}

.form-text::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  padding-left: 13px;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.policy-icon {
  fill: transparent;
  cursor: pointer;
}

.policy-check:checked + .check-text span {
  border: none;
  background-color: var(--accent-color);
}

.policy-check:checked + .check-text .policy-icon {
  fill: #ffffff;
}

.policy-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #2196f3;
  margin-left: 5px;
  text-decoration-line: underline;
}

.form-btn {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  width: 200px;
  height: 50px;
  padding: 10px 56px;
  margin-left: 111px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #188ce8;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover, .form-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.header {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-list {
  display: flex;
}

.header-list__link {
  display: block;
}

.header-text {
  color: var(--accent-color);
}

.header-site {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.header-site-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
}

.connect {
  margin-left: auto;
}

.header-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-btn-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list__link:hover, .header-list__link:focus {
  color: var(--accent-color);
}

.header-list__item:not(:last-child) {
  margin-right: 50px;
}

.header-connect-icon {
  display: flex;
}

.connect__mail,
.connect__tel {
  display: inline-flex;
}

.icon-container {
  display: inline-flex;
}

.icon {
  margin-right: 10px;
  fill: #757575;
}

.connect__mail {
  margin-right: 30px;
}

.connect__mail,
.connect__tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: var(--second-btn-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connect__mail:hover, .connect__mail:focus,
.connect__tel:hover,
.connect__tel:focus {
  color: var(--accent-color);
}

.connect__mail:focus .icon,
.connect__mail:hover .icon,
.connect__tel:focus .icon,
.connect__tel:hover .icon {
  fill: var(--accent-color);
}

.current {
  position: relative;
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  background-color: #2196f3;
  left: 0;
  bottom: -32px;
}

.header-portfolio {
  border: 1px solid #ececec;
}

.hero {
  background: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero-container__btn {
  font-family: "Roboto";
  font-weight: 700;
  background: #188ce8;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  text-align: center;
  align-items: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  left: 700px;
  margin-left: 500px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-container__btn:hover, .hero-container__btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.hero-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-list__icon {
  padding: 25px 100px;
  margin-bottom: 30px;
  display: flex;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.main-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.main-list__item {
  padding: 0;
  margin-left: 30px;
  width: calc(100% / 4 - 30px);
}

.main__item h3 {
  margin-bottom: 10px;
}

.main-content__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-btn-color);
}

.main-after__title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-btn-color);
}

.work {
  padding-bottom: 94px;
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-btn-color);
  margin-bottom: 50px;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.work-list__container {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.work-list__wrap {
  position: relative;
}

.work-list__img-text {
  position: absolute;
  top: 224px;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px 82px;
  width: 100%;
}

.about {
  background-color: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}

.about__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-btn-color);
  margin-bottom: 46px;
}

.about__team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-btn-color);
  margin-bottom: 10px;
}

.team {
  padding-top: 30px;
  padding-bottom: 34px;
  background-color: #ffffff;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.about-list__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.item-container {
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.team-social-list {
  display: flex;
  justify-content: center;
}

.social__item {
  list-style-type: none;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #ffffff;
}

.social__icon {
  fill: #afb1b8;
}

.about-work__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-btn-color);
  margin-bottom: 16px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list__icon {
  padding: 16px 32px;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-btn-color);
  margin-bottom: 50px;
}

.clients-list__content {
  display: flex;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  fill: #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__content:focus, .clients-list__content:hover {
  outline: none;
  border-color: var(--accent-color);
}

.clients-list__content:focus .clients-list__icon,
.clients-list__content:hover .clients-list__icon {
  fill: var(--accent-color);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.clients-list__container {
  padding: 0;
  margin-left: 30px;
  width: calc(100% / 6 - 30px);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.logo-studio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-address-location {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-address {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.footer-list__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.center__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__center {
  margin-left: 70px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-list__item {
  list-style-type: none;
}

.footer-list__item + .footer-list__item {
  margin-left: 10px;
}

.footer-list__social-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__social-link:hover, .footer-list__social-link:focus {
  background-color: var(--accent-color);
}

.footer-list__icon {
  fill: #ffffff;
}

.subscribe-form {
  display: flex;
}

.subscribe__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 93px;
  margin-bottom: 20px;
}

.subscribe__text {
  display: flex;
  align-items: center;
  width: 358px;
  height: 50px;
  color: #ffffff;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-left: 93px;
  padding-left: 16px;
}

.subscribe-right__btn {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-left: 12px;
  padding: 10px 28px;
}

.subscribe-right__icon {
  margin-left: 10px;
}

.list-btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--first-btn-color);
  background: #f5f4fa;
  border-radius: 4px;
}

.container-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.container-btn > .portfolio-btn:not(last-child) {
  margin-right: 10px;
}

.portfolio-btn {
  background: #f5f4fa;
  border-radius: 4px;
}

.list-btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-btn:hover, .list-btn:focus {
  color: var(--accent-color);
}

.list-btn:hover, .list-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.card-portfolio {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}

.card-portfolio:hover .portfolio-img-text {
  transform: translateY(0);
}

.card-portfolio:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.card-portfolio:focus .portfolio-img-text {
  transform: translateY(0);
}

.portfolio-item-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-img-text {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-btn-color);
}

.card-title-portfolio {
  padding: 20px 24px;
}

.card-after-title {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-btn-color);
}
/*# sourceMappingURL=main.css.map */